[submodule "external/7zip"]
	path = external/7zip
	url = https://github.com/ip7z/7zip.git
[submodule "external/bullet"]
	path = external/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
